.header {
    height: 7vh;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    background-color: #75b1a9;
}

.header h1 {
    text-align: center;
    color: aliceblue;
    font-family: "Allerta Stencil", Sans-serif;
    font-size: 5vh;
}