.navbar ol {
    display: flex;
    justify-content: space-between;
}

.navbar {
    height: 7vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #75b1a9;
}

.navbar .list-item {
    width: 25%;
    height: 100%;
    text-align: center;
}

.link h1{
    width: 100%;
    height: 100%;
    padding: 0;
}

img {
    height: 100%;
    text-align: center;
    fill: oriange;
}



